<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
  <title>home</title>
</head>
<body>
<div class="container-fluid row">
  <div th:insert="../fragments/header :: header">
  </div>
  <main class="d-flex flex-column align-items-center">
    <h1>Contacts</h1>

    <form class="d-flex"  method="GET" th:action="@{/contact/searchByName}">
      <input class="form-control me-2" type="search" placeholder="Chercher par nom de famille"
             aria-label="Search" name="keyword" value="${keyword}" id="keyword">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <th:block th:each="contact : ${contacts}">
      <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top"  th:src="${contact.picture}"  alt="Card image cap">
        <ul class="list-group list-group-flush">
          <li th:text="${contact.firstName}" class="list-group-item"></li>
          <li th:text="${contact.familyName}" class="list-group-item"></li>
          <li th:text="${contact.phoneNumber}" class="list-group-item"></li>
        </ul>
        <div class="card-body">
         <!-- <a th:href="@{/contact/deleteContact}" class="card-link btn btn-primary">delete</a>-->
          <form class=" col-3 d-flex flex-column align-items-center border border-secondary rounded"
                action="#" th:object="${contact}" th:action="@{/contact/deleteContact}"  method="post">
            <input type="hidden" th:value="*{id}" id="id" name="id"/>
            <input type="submit" class="btn btn-primary" value="delete user">
          </form>
          <a th:href="@{/contact/editContact/{id}(id=${contact.id})}" class="card-link btn btn-primary">modifier</a>
          <a href="#" class="card-link btn btn-primary">ajouter lien de famille</a>
        </div>
      </div>
    </th:block>

  </main>
  <div th:insert="../fragments/footer :: footer"></div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">

</script>
</body>
</html>