<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div th:fragment="header">
  <header>
    <nav id="headerBarre" class="col-12 navbar navbar-expand-lg bg-black col-12">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white"  th:href="@{/contact/allContacts}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"  th:href="@{/contact/addContact}">ajouter contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="http://localhost:8080/users/signin">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="http://localhost:8080/users/register">s'inscrire</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Parametres
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class=" col-3 d-flex flex-column align-items-center border border-secondary rounded"
                action="#" th:action="@{/logout}"  method="post">
            <input type="submit" class="ml-2 btn btn-primary" value="logout">
          </form>
        </div>
    </nav>

  </header>
</div>
</div>
</body>
</html>